 

/* .nav-item{
    
} */

 
@media (min-width: 1200px ) {
   a.navbar-brand{
    margin-right: 30%;
   }
   div.card{
    margin: 60px;
   }
 
   div#carouselExampleAutoplaying{
    
    margin: 20% ;
   }
    
    
}
.navbar{
    background-color:rgb(232, 184, 232,0.3);
    height: 20%;
    /* padding: 30px 0px; */
    display: flex;
    justify-content: space-between; /* Space between logo and nav items */
    align-items: center; /* Center items vertically */
    padding: 10px 20px; /* Add some padding */
}
 
nav{
    color:black;
    
}

#logo{
    margin-right: 10px;
    height: 80px;
    
}

a.navbar-brand{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-variant: small-caps;
    font-size:35px;
    font-style: italic;
    font-weight: 1000;
    
}

.background-image{
    position: relative;
    z-index: 1;
    padding: 20px 0px;
    margin:30px
     
    
}

.background-image::before{
    content: '';
    position:  absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-image: url('/photos/\ bgpic.jpeg') ;
     
    background-size:cover;
    background-position: center;
    margin: 0px 30px;
    opacity: 0.6;
    z-index: -1;
}

 

div#carouselExampleAutoplaying{
    box-shadow: 0 4px 12px rgb(232, 184, 232,0.5);
    transition: transform 0.2s ease, box-shadow 0.2s ease; 
   
    align-self: center;
     
    margin-bottom: 40px;
    margin-top: 20px;
    margin-left: 15%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
     
}

div#carouselExampleAutoplaying:hover{
    transform: scale(1.05); /* Increase size on hover */
    box-shadow: 0 6px 16px rgb(232, 184, 232,0.8); 
}
.carousel-item {
    display: none;  
    flex-direction: row;
    align-items: center;
    width:60%;
    height: auto;
}
.carousel-item.active {
    display: flex;  
}

.carousel-item img {
    width:  50%;  
    height: auto;  
}

.content {
    padding: 20px;
    width: 100%;  
     
}

div.card{
     
    width: auto;
    height: auto;
    box-shadow: 0 4px 12px rgb(232, 184, 232,0.5);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin: 10%;
}

div.card:hover {
    transform: scale(1.10); /* Increase size on hover */
    box-shadow: 0 6px 16px rgb(232, 184, 232,0.8); /* Slightly increase shadow */
}

.btn:hover{
    transform: scale(1.10);
     
}
  
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

footer {
    background-color: rgb(232, 184, 232,0.3); 
    color: black;
    padding: 20px;
    text-align: center;
}
.contact-heading {
    font-size: 1.5em;
    margin-bottom: 15px;
}
.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.contact-item {
    display: flex;
    align-items: center;
    font-size: 1em;}
.contact-item i {
        margin-right: 10px;
        color: black;
    } 
 
  
 