.container{
    border: ipx solid black;
    padding: 50px 50px;
}

nav{
    background-color: rgb(232, 184, 232,0.3);
}

.navbar-brand{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-variant: small-caps;
    font-weight: 1000;
    font-size:35px;
    font-style: italic;
}